body{
    background-color:black;
    background-image: url(src/bg.png);
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Red Rose';
    font-size: 25px;
    color: #4d522d;
}

.btn{
    position: relative;
    /*cursor: pointer;
    margin: 10px;
    transition: 0.8s;*/
    
}

.b1{

    position: relative;
    background: none;
    /*color: #fff;*/
    background-color: #CAD77D;
    padding: 5px 150px;
    border: 3px solid #868E51;
    border-radius: 15px;
    left: 240px;
    top: 240px;
}
.b2{

    position: relative;
    background: none;
    /*color: #fff;*/
    background-color: #CAD77D;
    padding: 5px 125px;
    border: 3px solid #868E51;
    border-radius: 15px;
    right: 215px;
    top: 370px;
}

/*
.b1:hover,.b2:hover {
    color: #000;;
}
*/